In [1]:
import pandas as pd

In [3]:
# Subway ridership for 5 stations on 10 different days
ridership = pd.DataFrame(
data = [
          [   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]
        
    ],
    index = ['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [4]:
ridership

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [9]:
ridership.loc['05-01-11'].argmax()

'R006'

In [19]:
ridership.loc[:,ridership.iloc[0].argmax()].values.mean()

3239.9000000000001

In [16]:
ridership.values.mean()

2342.5999999999999

In [20]:
def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    This is the same as a previous exercise, but this time the
    input is a Pandas DataFrame rather than a 2D NumPy array.
    '''
    overall_mean = ridership.values.mean() # Replace this with your code
    mean_for_max = ridership.loc[:,ridership.iloc[0].argmax()].values.mean() # Replace this with your code
    
    return (overall_mean, mean_for_max)

In [21]:
mean_riders_for_max_station(ridership)

(2342.5999999999999, 3239.9000000000001)