In [1]:
import pandas as pd

In [4]:
x = pd.DataFrame([10,40,70])

In [5]:
x

    0
0  10
1  40
2  70

In [15]:
x1 = x.shift()
x1 = x1.fillna(0)
x1

      0
0   0.0
1  10.0
2  40.0

In [16]:
x - x1

      0
0  10.0
1  30.0
2  30.0

In [17]:
# --- Quiz ---
# Cumulative entries and exits for one station for a few hours.
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

def get_hourly_entries_and_exits(entries_and_exits):
    '''
    Fill in this function to take a DataFrame with cumulative entries
    and exits (entries in the first column, exits in the second) and
    return a DataFrame with hourly entries and exits (entries in the
    first column, exits in the second).
    '''
    ene1 = entries_and_exits.shift()
    ene1 - ene1.fillna(0)
    
    return entries_and_exits - ene1

In [18]:
get_hourly_entries_and_exits(entries_and_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1      23.0     8.0
2      18.0    18.0
3      71.0    54.0
4     170.0    44.0
5     214.0    42.0
6      87.0    11.0
7      10.0     3.0
8      36.0    89.0
9     153.0   333.0