Before we get started, a couple of reminders to keep in mind when using iPython notebooks:

- Remember that you can see from the left side of a code cell when it was last run if there is a number within the brackets.
- When you start a new notebook session, make sure you run all of the cells up to the point where you last left off. Even if the output is still visible from when you ran the cells in your previous session, the kernel starts in a fresh state so you'll need to reload the data, etc. on a new session.
- The previous point is useful to keep in mind if your answers do not match what is expected in the lesson's quizzes. Try reloading the data and run all of the processing steps one by one in order to make sure that you are working with the same variables and data that are at each quiz stage.


## Load Data from CSVs

In [1]:
import unicodecsv

## Longer version of code (replaced with shorter, equivalent version below)

# enrollments = []
# f = open('enrollments.csv', 'rb')
# reader = unicodecsv.DictReader(f)
# for row in reader:
#     enrollments.append(row)
# f.close()

def csv_read(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        l = list(reader)
    return l

In [2]:
#####################################
#                 1                 #
#####################################

## Read in the data from daily_engagement.csv and project_submissions.csv 
## and store the results in the below variables.
## Then look at the first row of each table.
enrollments = csv_read("enrollments.csv")
daily_engagement = csv_read("daily_engagement.csv")
project_submissions = csv_read("project_submissions.csv")

In [3]:
enrollments[0]

{u'account_key': u'448',
 u'cancel_date': u'2015-01-14',
 u'days_to_cancel': u'65',
 u'is_canceled': u'True',
 u'is_udacity': u'True',
 u'join_date': u'2014-11-10',
 u'status': u'canceled'}

## Fixing Data Types

In [4]:
daily_engagement[0]

{u'acct': u'0',
 u'lessons_completed': u'0.0',
 u'num_courses_visited': u'1.0',
 u'projects_completed': u'0.0',
 u'total_minutes_visited': u'11.6793745',
 u'utc_date': u'2015-01-09'}

In [5]:
project_submissions[0]

{u'account_key': u'256',
 u'assigned_rating': u'UNGRADED',
 u'completion_date': u'2015-01-16',
 u'creation_date': u'2015-01-14',
 u'lesson_key': u'3176718735',
 u'processing_state': u'EVALUATED'}

In [6]:
from datetime import datetime as dt

# Takes a date as a string, and returns a Python datetime object. 
# If there is no date given, returns None
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d')
    
# Takes a string which is either an empty string or represents an integer,
# and returns an int or None.
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

# Clean up the data types in the enrollments table
for enrollment in enrollments:
    enrollment['cancel_date'] = parse_date(enrollment['cancel_date'])
    enrollment['days_to_cancel'] = parse_maybe_int(enrollment['days_to_cancel'])
    enrollment['is_canceled'] = enrollment['is_canceled'] == 'True'
    enrollment['is_udacity'] = enrollment['is_udacity'] == 'True'
    enrollment['join_date'] = parse_date(enrollment['join_date'])
    
enrollments[0]

{u'account_key': u'448',
 u'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 u'days_to_cancel': 65,
 u'is_canceled': True,
 u'is_udacity': True,
 u'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 u'status': u'canceled'}

In [7]:
# Clean up the data types in the engagement table
for engagement_record in daily_engagement:
    engagement_record['lessons_completed'] = int(float(engagement_record['lessons_completed']))
    engagement_record['num_courses_visited'] = int(float(engagement_record['num_courses_visited']))
    engagement_record['projects_completed'] = int(float(engagement_record['projects_completed']))
    engagement_record['total_minutes_visited'] = float(engagement_record['total_minutes_visited'])
    engagement_record['utc_date'] = parse_date(engagement_record['utc_date'])
    
daily_engagement[0]

{u'acct': u'0',
 u'lessons_completed': 0,
 u'num_courses_visited': 1,
 u'projects_completed': 0,
 u'total_minutes_visited': 11.6793745,
 u'utc_date': datetime.datetime(2015, 1, 9, 0, 0)}

In [8]:
# Clean up the data types in the submissions table
for submission in project_submissions:
    submission['completion_date'] = parse_date(submission['completion_date'])
    submission['creation_date'] = parse_date(submission['creation_date'])

project_submissions[0]

{u'account_key': u'256',
 u'assigned_rating': u'UNGRADED',
 u'completion_date': datetime.datetime(2015, 1, 16, 0, 0),
 u'creation_date': datetime.datetime(2015, 1, 14, 0, 0),
 u'lesson_key': u'3176718735',
 u'processing_state': u'EVALUATED'}

Note when running the above cells that we are actively changing the contents of our data variables. If you try to run these cells multiple times in the same session, an error will occur.

## Investigating the Data

In [9]:
#####################################
#                 2                 #
#####################################

## Find the total number of rows and the number of unique students (account keys)
## in each table.
import pandas as pd
df_e = pd.DataFrame(enrollments)
print("Count of accounts in enrollment = %d"% df_e['account_key'].count())

Count of accounts in enrollment = 1640

In [10]:
df_e_unique = df_e.drop_duplicates(['account_key'])
print("Count of unique account in enrollement = %d" % df_e_unique['account_key'].count())

Count of unique account in enrollement = 1302

In [11]:
df_de = pd.DataFrame(daily_engagement)
#df_de.columns
print("Count of Daily Engagements = %d" % df_de['acct'].count())

Count of Daily Engagements = 136240

In [12]:
df_de_unique = df_de.drop_duplicates(['acct'])
print("Count of Unique Daily Engagements = %d" % df_de_unique['acct'].count())

Count of Unique Daily Engagements = 1237

In [13]:
df_ps = pd.DataFrame(project_submissions)
#df_ps.columns
print("Count of project submission = %d" % df_ps['account_key'].count())

Count of project submission = 3642

In [14]:
df_ps_unique = df_ps.drop_duplicates(['account_key'])
print("Count of project submission = %d" % df_ps_unique['account_key'].count())

Count of project submission = 743

## Problems in the Data

In [15]:
#####################################
#                 3                 #
#####################################

## Rename the "acct" column in the daily_engagement table to "account_key".
df_de = df_de.rename(columns= {'acct':'account_key'})
df_de.head()

,account_key,lessons_completed,num_courses_visited,projects_completed,total_minutes_visited,utc_date
0,0,0,1,0,11.679374,2015-01-09
1,0,0,2,0,37.284887,2015-01-10
2,0,0,2,0,53.633746,2015-01-11
3,0,0,1,0,33.489270,2015-01-12
4,0,0,1,0,64.779678,2015-01-13

## Missing Engagement Records

In [16]:
df_de_unique = df_de_unique.sort_values(by=['acct'], ascending= True)
df_e_unique = df_e_unique.sort_values(by=['account_key'],ascending=True)

In [17]:
df_de_unique.head()

,acct,lessons_completed,num_courses_visited,projects_completed,total_minutes_visited,utc_date
0,0,0,1,0,11.679374,2015-01-09
230,1,0,1,0,9.640248,2015-05-06
1449,10,0,0,0,0.000000,2014-11-10
16876,100,0,1,0,51.092094,2015-02-05
123319,1000,0,0,0,0.000000,2015-07-11

In [18]:
df_e_unique.head()

,account_key,cancel_date,days_to_cancel,is_canceled,is_udacity,join_date,status
464,0,NaT,NaN,False,False,2015-01-09,current
1233,1,NaT,NaN,False,False,2015-05-06,current
163,10,NaT,NaN,False,False,2014-11-10,current
1015,100,NaT,NaN,False,False,2015-02-05,current
1619,1000,NaT,NaN,False,False,2015-07-11,current

In [19]:
#####################################
#                 4                 #
#####################################

## Find any one student enrollments where the student is missing from the daily engagement table.
## Output that enrollment.
missing_students = []
for i,r in df_e_unique.iterrows():
    search = r['account_key']
    
    found = False
    for j,s in df_de_unique.iterrows():
        lookfor = s['acct']
        if(lookfor == search):
            found = True
    if(found is False):
        #print('enroll: ' +  search + 'enaged: ' + lookfor)
        missing_students.append(search)
if(len(missing_students) > 0):
    print(missing_students[0])

1010

In [20]:
print('total %d missing students in daily engagement' % len(missing_students))

total 65 missing students in daily engagement

## Checking for More Problem Records

In [45]:
#####################################
#                 5                 #
#####################################

## Find the number of surprising data points (enrollments missing from
## the engagement table) that remain, if any.
missing_students.sort()
#from tabulate import tabulate
import pandas as pd
df_ms_list = pd.DataFrame()
for missing_student in missing_students:
    df_ms_list = df_ms_list.append(other=df_e_unique[df_e_unique['account_key'] == missing_student],ignore_index=True)
df_ms_list.head()    
    
    # print tabulate(df_e_unique[df_e_unique['account_key'] == missing_student], headers='firstrow', tablefmt='simple', showindex= "never")

,account_key,cancel_date,days_to_cancel,is_canceled,is_udacity,join_date,status
0,1010,2015-01-11,0.0,True,False,2015-01-11,canceled
1,1025,2015-06-07,0.0,True,False,2015-06-07,canceled
2,1044,2015-02-08,0.0,True,False,2015-02-08,canceled
3,1063,2015-07-14,0.0,True,False,2015-07-14,canceled
4,1069,2015-06-01,0.0,True,True,2015-06-01,canceled

## Tracking Down the Remaining Problems

In [25]:
# Create a set of the account keys for all Udacity test accounts
udacity_test_accounts = set()
for enrollment in enrollments:
    if enrollment['is_udacity']:
        udacity_test_accounts.add(enrollment['account_key'])
len(udacity_test_accounts)

6

In [38]:
# Same as above but using panda data frame
udacity_test_set = set()
udacity_test_set.update(df_e_unique[df_e_unique['is_udacity'] == True]['account_key'])
len(udacity_test_set)

6

In [39]:
df_e_unique[df_e_unique['is_udacity'] == True]

,account_key,cancel_date,days_to_cancel,is_canceled,is_udacity,join_date,status
1036,1069,2015-06-01,0.0,True,True,2015-06-01,canceled
1378,1101,NaT,NaN,False,True,2015-02-25,current
467,1304,2015-03-10,59.0,True,True,2015-01-10,canceled
613,312,2015-03-10,120.0,True,True,2014-11-10,canceled
0,448,2015-01-14,65.0,True,True,2014-11-10,canceled
717,818,2015-01-12,5.0,True,True,2015-01-07,canceled

In [33]:
# Given some data with an account_key field, removes any records corresponding to Udacity test accounts
def remove_udacity_accounts(data):
    non_udacity_list = []
    for data_point in data:
        if data_point['account_key'] not in udacity_test_accounts:
            non_udacity_list
    return non_udacity_data

In [43]:
df_de_unique = df_de_unique.rename(columns={'acct':'account_key'}) #Rename account_key column

In [44]:
#using pandas data frame
def delete_udacity_accounts(data_frame):
    non_udacity_df = pd.DataFrame()
    for i,row in data_frame.iterrows():
        if row['account_key'] not in udacity_test_set:
            non_udacity_df

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [42]:
# Remove Udacity test accounts from all three tables
non_udacity_enrollments = remove_udacity_accounts(enrollments)
#non_udacity_engagement = remove_udacity_accounts(daily_engagement)
non_udacity_submissions = remove_udacity_accounts(project_submissions)

print len(non_udacity_enrollments)
#print len(non_udacity_engagement)
print len(non_udacity_submissions)

1622
3634

## Refining the Question

In [ ]:
#####################################
#                 6                 #
#####################################

## Create a dictionary named paid_students containing all students who either
## haven't canceled yet or who remained enrolled for more than 7 days. The keys
## should be account keys, and the values should be the date the student enrolled.

paid_students =

## Getting Data from First Week

In [ ]:
# Takes a student's join date and the date of a specific engagement record,
# and returns True if that engagement record happened within one week
# of the student joining.
def within_one_week(join_date, engagement_date):
    time_delta = engagement_date - join_date
    return time_delta.days < 7

In [ ]:
#####################################
#                 7                 #
#####################################

## Create a list of rows from the engagement table including only rows where
## the student is one of the paid students you just found, and the date is within
## one week of the student's join date.

paid_engagement_in_first_week =

## Exploring Student Engagement

In [ ]:
from collections import defaultdict

# Create a dictionary of engagement grouped by student.
# The keys are account keys, and the values are lists of engagement records.
engagement_by_account = defaultdict(list)
for engagement_record in paid_engagement_in_first_week:
    account_key = engagement_record['account_key']
    engagement_by_account[account_key].append(engagement_record)

In [ ]:
# Create a dictionary with the total minutes each student spent in the classroom during the first week.
# The keys are account keys, and the values are numbers (total minutes)
total_minutes_by_account = {}
for account_key, engagement_for_student in engagement_by_account.items():
    total_minutes = 0
    for engagement_record in engagement_for_student:
        total_minutes += engagement_record['total_minutes_visited']
    total_minutes_by_account[account_key] = total_minutes

In [ ]:
import numpy as np

# Summarize the data about minutes spent in the classroom
total_minutes = total_minutes_by_account.values()
print 'Mean:', np.mean(total_minutes)
print 'Standard deviation:', np.std(total_minutes)
print 'Minimum:', np.min(total_minutes)
print 'Maximum:', np.max(total_minutes)

## Debugging Data Analysis Code

In [ ]:
#####################################
#                 8                 #
#####################################

## Go through a similar process as before to see if there is a problem.
## Locate at least one surprising piece of data, output it, and take a look at it.

## Lessons Completed in First Week

In [ ]:
#####################################
#                 9                 #
#####################################

## Adapt the code above to find the mean, standard deviation, minimum, and maximum for
## the number of lessons completed by each student during the first week. Try creating
## one or more functions to re-use the code above.

## Number of Visits in First Week

In [ ]:
######################################
#                 10                 #
######################################

## Find the mean, standard deviation, minimum, and maximum for the number of
## days each student visits the classroom during the first week.

## Splitting out Passing Students

In [ ]:
######################################
#                 11                 #
######################################

## Create two lists of engagement data for paid students in the first week.
## The first list should contain data for students who eventually pass the
## subway project, and the second list should contain data for students
## who do not.

subway_project_lesson_keys = ['746169184', '3176718735']

passing_engagement =
non_passing_engagement =

## Comparing the Two Student Groups

In [ ]:
######################################
#                 12                 #
######################################

## Compute some metrics you're interested in and see how they differ for
## students who pass the subway project vs. students who don't. A good
## starting point would be the metrics we looked at earlier (minutes spent
## in the classroom, lessons completed, and days visited).

## Making Histograms

In [ ]:
######################################
#                 13                 #
######################################

## Make histograms of the three metrics we looked at earlier for both
## students who passed the subway project and students who didn't. You
## might also want to make histograms of any other metrics you examined.

## Improving Plots and Sharing Findings

In [ ]:
######################################
#                 14                 #
######################################

## Make a more polished version of at least one of your visualizations
## from earlier. Try importing the seaborn library to make the visualization
## look better, adding axis labels and a title, and changing one or more
## arguments to the hist() function.