In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'a': [4, 5, 3, 1, 2],
    'b': [20, 10, 40, 50, 30],
    'c': [25, 20, 5, 15, 10]
})
df

   a   b   c
0  4  20  25
1  5  10  20
2  3  40   5
3  1  50  15
4  2  30  10

In [5]:
df['a'].argmax()

1

In [10]:
if 1:   
    print df.apply(np.max)
    print df.apply(np.mean)

a     5
b    50
c    25
dtype: int64
a     3.0
b    30.0
c    15.0
dtype: float64

In [11]:
if 1:
    print df.max()
    print df.mean()

a     5
b    50
c    25
dtype: int64
a     3.0
b    30.0
c    15.0
dtype: float64

In [28]:
col = pd.Series([10,1,2,3,4.5])
col

0    10.0
1     1.0
2     2.0
3     3.0
4     4.5
dtype: float64

In [41]:
col = col.sort_values(ascending=False)
col.sort_values(ascending=False).iloc[1]

4.5

In [42]:
def second_largest_in_column(col):
    return col.sort_values(ascending=False).iloc[1]

In [43]:
second_largest_in_column(col)

4.5

In [44]:
col

0    10.0
4     4.5
3     3.0
2     2.0
1     1.0
dtype: float64

In [45]:
def second_largest(df):
    '''
    Fill in this function to return the second-largest value of each 
    column of the input DataFrame.
    '''
    
    
    return df.apply(second_largest_in_column)

In [23]:
second_largest(df)

a     4
b    40
c    20
dtype: int64

In [24]:
df

   a   b   c
0  4  20   0
1  0  10  20
2  3  40   5
3  1   0  15
4  2  30  10